<!DOCTYPE html>
<html x-ng-app>
  <head>
    <title>Battle OF The Bands Tic Tac Toe</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" src="main.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
    <meta charset="UTF-8">
    <header>Battle of the Bands</header>
  </head>
  <body> 
    <div class="container" x-ng-controller="boardCtrl">
      <div class="message"><h1>{{winner}}</h1></div>
      <div x-ng-repeat="box in boxes track by $index" 
        x-ng-class="{cell:true, clear: $index % 3 == 0, pic1:boxes[$index]=='x', pic2:boxes[$index]=='o'}" 
        x-ng-click="takeTurn($index)"> 
        {{box}}</div>

      <!-- <div class="winner" -->
      
    </div>
  </body>
</html>