html {
  background:url('img/flag.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
.container {
  position: absolute;
  bottom: 0px;

}
.message {
  font: 40px;
  color: white;
}
.cell {
  width: 150px;
  height: 150px;
  background-color: orange;
  margin: 5px;
  float: left;
}
.clear {
  clear:both;
}
.pic1 {
  content:url('img/apple_150.jpg');
}
.pic2{
  content:url('img/stones128.png');
  background-color: white;
}